@charset "UTF-8";

body { font-family: Arial; }

header { text-align: center;}

ul#contactInfoList li {
  display: inline-block;
  list-style-type: none;
}

ul#contactInfoList li:after {
  content: " • ";
}

ul#contactInfoList li:last-child:after {
  content: none;
}
